<form action="lpmadd" method="post">
	<label for="prefix">IPv4 Prefix: </label>
	<input name="prefix" type="text" placeholder="10.10.10.0"><br>
	
	<label for="prefix_len">Prefix length: </label>
	<input name="prefix_len" type="number" placeholder="24"><br>
	
	<label for="dest_ip">Destination IPv4: </label>
	<input name="dest_ip" type="text" placeholder="69.69.69.69"><br>
	
	<label for="dest_port">Destination port: </label>
	<input name="dest_port" type="number" placeholder="42"><br>
	
	<input type="submit" value="Submit">
</form>

%s<br><br>